{% extends 'base_front.html.twig' %}

{% block title %}{{ 'airtable_data.title'|trans }}{% endblock %}

{% block description %}{{ 'airtable_data.description'|trans }}{% endblock %}

{% block canonical %}{{ absolute_url(path('airtable_data')) }}{% endblock %}

{% block content %}
    <div class="one-page airtable-page row parallax">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <div class="content">
                <h1>Galerie Réseau COJOB Nantes</h1>
                <p>
                    Bienvenue dans la Galerie Réseau de la Communauté COJOB Nantes ! 🤗
                </p>
                <h2>▶ Une galerie réseau, pour quoi faire ?</h2>
                <p>
                    Notre communauté (s’a)grandit et il devient de plus en plus difficile de se (re)trouver. Nous avons
                    donc eu l’idée de référencer l’ensemble des membres de la Communauté COJOB Nantes pour permettre à
                    chacun·e d’entre nous de pouvoir se (re)trouver plus facilement. Ici, les maîtres-mots sont :
                    collectif, entretien réseau et entraide. 🤝
                </p>
                <p>Dispo pour un café, jeudi prochain, entre 5 et 6 ? 🍻😉</p>
                <h2>▶ Comment ça marche ?</h2>
                <p>
                    Nous vous donnons accès aux informations clés de chaque membre du réseau. Grâce aux différents
                    filtres proposés (prénoms, compétences, secteur d’activité etc.) vous pourrez (re)trouver plus
                    facilement les personnes que vous recherchez. Associer à son profil un compte LinkedIn (ou tout
                    autre réseau social professionnel) est donc fortement recommandé pour apporter plus de précisions.
                    👌
                </p>
                <p>
                    --
                </p>
                <p>
                    📌 Tu souhaites apparaître dans la Galerie Réseau de la Communauté COJOB Nantes ? Un lien
                    d’inscription te sera communiqué une fois que nous aurons enregistré ton adhésion (10€) à
                    l’association : <a href="{{ path('support') }}">pour adhérer c’est par ici</a>
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="content airtable-div">
                <iframe class="airtable-embed"
                        src="https://airtable.com/embed/shrHrNqVFPjfXBkIa?backgroundColor=gray&viewControls=on"
                        onmousewheel="" width="100%" height="100%"
                        style="background: transparent; border: 1px solid #ccc;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
