{% extends 'base_front.html.twig' %}

{% block title %}{{ 'legals.title'|trans }}{% endblock %}

{% block description %}{{ 'legals.description'|trans }}{% endblock %}

{% block canonical %}{{ absolute_url(path('legals')) }}{% endblock %}

{% block content %}
    <div class="one-page generic-page row parallax">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <div class="content">
                <h1>{{ 'legals.h1'|trans }}</h1>
                <h2>Editeur</h2>

                <p>
                    Les locaux de l'association (loi 1901) Cojob Nantes sont situés au 1
                    boulevard salvador Allende, Les Salorges 2 (RDC), 44100 Nantes.
                </p>
				<p>
                    La boîte postale est située au 15 quai Ernest Renaud 44100 Nantes.
                </p>
                <p>
                    Le site de Cojob Nantes est développé par un bénévole.
                    Il est hébergé par : Infomaniak
                    Infomaniak Network SA dont le siège social est Rue Eugène 				Marziano 25
1227 Les Acacias, Genève, Suisse  
                    Registre du commerce du canton de Genève CH-660.0.059.996-1
                    Numéro IDE/TVA CHE-103.167.648
                </p>

                <h2>Directeurs de la publication</h2>

                <p>Natacha GUENARD, Corinne CHAUVIGNE et Emmanuelle MICHAUD, Jérôme DECOSTER co-président·e·s de l'association</p>

                <p>En conséquence, Cojob Nantes décline toute responsabilité :</p>

                <ul>
                    <li>pour toute interruption du site et de ses services.</li>
                    <li>pour toute survenance de bogues.</li>
                    <li>pour toute inexactitude ou omission portant sur des informations disponibles sur ce site.</li>
                    <li>pour tout dommage résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une
                        modification des informations mises à la disposition sur le site.
                    </li>
                    <li>et plus généralement de tout dommage direct ou indirect, quelles qu'en soient les causes,
                        origines, natures ou conséquences en ce y compris notamment les coûts pouvant survenir de
                        l'acquisition de biens proposés sur le site, les pertes de profits, de clientèle, de données ou
                        tout autre perte de biens incorporels pouvant survenir à raison de l'accès de quiconque au site
                        ou de l'impossibilité d'y accéder ou du crédit accordé à une quelconque information provenant
                        directement ou indirectement de ce dernier.
                    </li>
                </ul>

                <h2>Protection des données personnelles</h2>

                <p>
                    Cojob Nantes s'engage à préserver la confidentialité des informations éventuellement fournies en
                    ligne par l'internaute. Toute information personnelle que l'internaute serait amené à transmettre à
                    Cojob Nantes pour l'utilisation de certains services est soumise aux dispositions de la Loi n° 78-17
                    Informatique et Libertés du 06 janvier 1978.

                    A ce titre, l'internaute dispose d'un droit d'accès, de rectification et de suppression des
                    informations personnelles le concernant qu'il peut exercer à tout moment en adressant un courrier à
                    l'adresse suivante :

                    Protection des données personnelles - Cojob Nantes - 1 boulevard salvador Allende, Les Salorges 2 -
                    44100 Nantes ou par email
                </p>

                <h2>Liens</h2>

                <p>
                    Le site peut inclure des liens vers d'autres sites web ou d'autres sources Internet. Dans la mesure
                    où Cojob Nantes ne peut contrôler ces sites et ces sources externes, Cojob Nantes ne peut être tenue
                    pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter
                    aucune responsabilité quant au contenu, publicités, produits, services ou tout autre matériel
                    disponible sur ou à partir de ces sites ou sources externes. De plus, Cojob Nantes ne pourra être
                    tenu responsable de tous dommages ou pertes avérés ou allégués consécutifs ou en relation avec
                    l'utilisation ou le fait d'avoir fait confiance au contenu, à des biens ou des services disponibles
                    sur ces sites ou sources externes.
                </p>

                <h2>Droit de propriété Cojob Nantes</h2>

                <p>
                    Le site ainsi que tout logiciel utilisé nécessairement en relation avec celui-ci peuvent contenir
                    des informations confidentielles et protégées par le droit de la propriété intellectuelle en vigueur
                    ou toute autre loi. Ainsi, sauf mention contraire, les droits de propriété intellectuelle sur les
                    documents contenus dans le site et chacun des éléments créés pour ce site sont la propriété
                    exclusive de Cojob Nantes, celle-ci ne concédant aucune licence, ni aucun droit autre que celui de
                    consulter le site.
                    La reproduction de tous documents publiés sur le site est seulement autorisée aux fins exclusives
                    d'information pour un usage personnel et privé, toute reproduction et toute utilisation de copies
                    réalisées à d'autres fins étant expressément interdite. Il est également interdit de copier,
                    modifier, créer une oeuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière
                    tenter de trouver le code source (à l'exception des cas prévus par la loi), vendre, attribuer,
                    sous-licencier ou transférer de quelque manière que ce soit tout droit afférant aux logiciels. De
                    même, il est également interdit de modifier le logiciel ou d'utiliser des versions modifiées des
                    logiciels et notamment (sans que cette énumération soit limitative) en vue d'obtenir un accès non
                    autorisé au service et d'accéder au site par un autre moyen que l'interface qui vous est fournie par
                    Cojob Nantes à cet effet.

                    Cojob Nantes se réserve le droit de demander des dommages et intérêts en cas de contrefaçon et plus
                    généralement d'atteinte à ses droits de propriété intellectuelle.
                </p>

                <h2>Remerciements</h2>

                <p>
                    Cojob Nantes tient à remercier l'ensemble des bénévoles ayant contribué à ce site Internet et
                    également M. Paul KLEIN pour le prêt de ses agréables photographies.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
