{% extends 'base_front.html.twig' %}

{% block title %}{{ 'error404.title'|trans }}{% endblock %}

{% block description %}{{ 'error404.description'|trans }}{% endblock %}

{% block content %}
    <div class="one-page generic-page ostrich-museum-bg row parallax text-center">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <div class="content">
                <h1>{{ 'error404.baseline'|trans }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
